/* GLOBAL STYLE ---------------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #383838;
}
/* SECTION 1 - INTRODUCTION ---------------------- */
.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url(images/hero-gadgets.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ccc;
}
h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 6rem;
    color: white;
    text-shadow: 1px -3px 5px #000;
}
h2 {
    padding-top: 5%;
    text-align: center;
}
.myIntro {
    border-radius: 8px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
    color: black;
    line-height: 1.8rem;
    background: rgba(250,250, 250, 0.9);
}
p {
    margin: 0 auto;
    padding: 3em 2.5em;
}
/* SECTION 2 - ANSWERS ----------------------- */
.answers {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icon {
    border-radius: 50%;
    margin-top: -80px;
    padding: 0 25%;
}
.card {
    margin: 190px 15px;
    width: 299px;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 8px 6px -6px black;
}
h2 {
    font-size: 18px;
    padding: 10%;
}
.response {
    background-color:#ccc;  
    color: #383838;
    padding: 10%;
    margin-bottom: -1px;
    line-height: 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* SECTION 3 - INTERACTIVE MULTIPLICATION TABLE ---------------- */
table {margin-bottom: 3%;}
table, td {
    border-collapse: collapse;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
td { 
    padding:15px;
    text-align: center;
    border: 1px solid white;
}
.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: -1px;
    align-items: center;
    justify-content: center;
    padding-bottom: 7%;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.label {
    padding:10px 5px 10px 5px;
    letter-spacing: .6px;
}
input {
    width: 175px;
    font-size: 18px;
    border-radius: 8px;
    padding: 10px;
}
button {
    width: 175px;
    font-size: 18px;
    border-radius: 8px;
    padding: 10px;
}
button[type=button], button[type=reset] {
    width: 195px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 4px 6px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 8px;
    outline: none;
    border: 1px solid white;
    color: white;
}
button:hover {
    background-color: white;
    color: #0575E6;
}
.inputQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#myTable {
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
}
#alert {
    color: #02144a;
    font-size: 20px;
    padding: 20px 0;
}
.math {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: white;
    padding: 5% 0 0;
}
/* MEDIA QUERIES ----------------------------------------- */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    h1 {
        font-size: 4rem;
    }
    .intro {
    background-image: url(images/hero-gadgets-mobile.jpg);
    }
    .myIntro {
        margin-left: 10%;
        margin-right: 10%;
    }
    .nervous {
        margin-top: 5%;
    }
    .card {
        margin: 100px 25px;
    }
    .answers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
 }
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    .card {
        margin: 150px 25px 80px 25px;
        align-items: center;
        padding-top: 50px;
    }
    .answers {
        flex-direction: column;
    }
 }
/* Large desktop */
@media (min-width: 1200px) { 
    .intro {
        background-image: url(images/hero-gadgets-desktop.jpg);
    }
 }